<div class="container">
  <h1>Successfully submitted your answers</h1>
  <div class="about">
    <p>
      Thank you for taking the time to answer the questions.
    </p>
    <p>
      We will e-mail you the results within the next 1 or 2 days.
    </p>
    <p>
      In the mean time if you have any questions drop us a mail at recruitment@blendit.co
    </p>
  </div>
</div>
